@model IEnumerable<Ksiegarnia.Models.Ksiazki>

@{
    ViewBag.Title = "getKsiazkiByKategoria";
}


<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>

     -->
<div class="row">
    <table class="table">
        <!-- <div class="row"> -->



        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cena_brutto_aktualna)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tytul)
                </td>
                <td>
                    <img src="~/Content/Images/@item.foto" width="100" height="180" alt="Conference Attendees">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cena_brutto_aktualna)
                </td>
                <td>
                    @Html.ActionLink("Zobacz więcej", "Szczegoly", "Buy", new { id = item.id_ksiazka }, null)
                    <!--    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                       @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) -->
                </td>
            </tr>

            
</div>
</table>

        }

