@model IEnumerable<Ksiegarnia.Models.AutorzyKsiazki>

@{
    ViewBag.Title = "getKsiazkiByKategoria";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <h2>@Html.DisplayFor(modelItem => item.Ksiazki.tytul)</h2>
            <p>@Html.DisplayFor(modelItem=>item.Autorzy.imie) @Html.DisplayFor(modelItem => item.Autorzy.nazwisko)</p>
            <img src="~/Content/Images/@item.Ksiazki.foto" width="140" height="200" alt="Conference Attendees">
            <p style="color:#FF0000; padding-left:20px">@Html.DisplayFor(modelItem =>item.Ksiazki.cena_brutto_aktualna)</p>
            @Html.ActionLink("Zobacz więcej", "Szczegoly", "Buy", new { id = item.id_ksiazka }, new { @class = "btn btn-alt" })
        </div>
    }
</div>
