@model Ksiegarnia.Models.Uzytkownicy

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Uzytkownicy</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.imie, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imie)
                @Html.ValidationMessageFor(model => model.imie)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nazwisko, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nazwisko)
                @Html.ValidationMessageFor(model => model.nazwisko)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.wiek, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.wiek)
                @Html.ValidationMessageFor(model => model.wiek)
            </div>
        </div>

        <div class="form-group">
            @if (ViewBag.message != null)
            {
                <p>Ten email jest już zajęty. Spróbuj inny. </p>
            }
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.haslo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.haslo)
                @Html.ValidationMessageFor(model => model.haslo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.haslo_potw, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.haslo_potw)
                @Html.ValidationMessageFor(model => model.haslo_potw)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nr_telefonu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nr_telefonu)
                @Html.ValidationMessageFor(model => model.nr_telefonu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ulica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ulica)
                @Html.ValidationMessageFor(model => model.ulica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.miasto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.miasto)
                @Html.ValidationMessageFor(model => model.miasto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nr_domu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nr_domu)
                @Html.ValidationMessageFor(model => model.nr_domu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nr_mieszkania, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nr_mieszkania)
                @Html.ValidationMessageFor(model => model.nr_mieszkania)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.wojewodztwo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.wojewodztwo)
                @Html.ValidationMessageFor(model => model.wojewodztwo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kod_pocztowy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kod_pocztowy)
                @Html.ValidationMessageFor(model => model.kod_pocztowy)
            </div>
        </div>

      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
